@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

* {
     padding: 0;
     margin: 0;
     font-family: 'Josefin Sans', sans-serif;
     box-sizing: border-box;
}

.hero {
     height: 70vh;
     width: 100%;
     background-color: gray;
}

nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 45px;
     padding-left: 8%;
     padding-right: 8%;
}

.logo {
     color: white;
     font-size: 35px;
     letter-spacing: 1px;
     cursor: pointer;
     font-weight: bold;
}

span {
     color: #f9004d;
}

nav ul li {
     list-style: none;
     display: inline-block;
     padding: 10px 25px;
}

nav ul li a {
     color: white;
     text-decoration: none;
     font-weight: bold;
     text-transform: capitalize;
     font-size: 18px;
}

nav ul li a:hover {
     color: #f9004d;
     transition: .4s;
     -webkit-transition: .4s;
     -moz-transition: .4s;
     -ms-transition: .4s;
     -o-transition: .4s;
}

.btn {
     background-color: #f9004d;
     color: white;
     text-decoration: none;
     border: 2px solid transparent;
     font-weight: bold;
     padding: 10px 25px;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     transition: transform .4s;
     -webkit-transition: transform .4s;
     -moz-transition: transform .4s;
     -ms-transition: transform .4s;
     -o-transition: transform .4s;
}

.btn:hover {
     transform: scale(1.2);
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -ms-transform: scale(1.2);
     -o-transform: scale(1.2);
}

.content {
     position: absolute;
     top: 50%;
     left: 10%;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
}

h1 {
     color: white;
     margin: 20px 0 20px;
     font-size: 75px;
}

h3 {
     color: white;
     font-size: 25px;
     margin-bottom: 50px;
}

h4 {
     color: #fcfc;
     letter-spacing: 2px;
     font-size: 20px;
}

.newslatter form {
     width: 380px;
     max-width: 100%;
     position: relative;
}

.newslatter form input:first-child {
     display: inline-block;
     width: 100%;
     padding: 14px;
     border: 2px solid #f9004d;
     outline: none;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
}

.newslatter form input:last-child {
     position: absolute;
     display: inline-block;
     outline: none;
     border: none;
     padding: 10px 30px;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     background-color: #f9004d;
     color: white;
     box-shadow: 0 0 5px #000, 0 0 15px #858585;
     ;
     top: 6px;
     right: 10px;
}

.about {
     width: 100%;
     padding: 100px 0;
     background-color: #161616;
}

.about img {
     height: auto;
     width: 450px;
}

.about-text {
     width: 550px;
}

.main {
     width: 1130px;
     max-width: 95%;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.about-text h2 {
     color: white;
     font-size: 75px;
     text-transform: capitalize;
     margin-bottom: 20px;
}

.about-text h5 {
     color: white;
     font-size: 22px;
     letter-spacing: 2px;
     margin-bottom: 25px;
     text-transform: capitalize;
}

.about-text p {
     color: #fcfc;
     font-size: 18px;
     line-height: 28px;
     margin-bottom: 45px;
}

.button {
     background-color: #f9004d;
     padding: 20px;
     color: white;
     font-size: 25px;
     border: 2px solid transparent;
     border-radius: 20px;
     text-decoration: none;
     font-weight: bold;
     /* width: 77px; */
     /* display: flex; */
     transition: .4s;
     -webkit-transition: .4s;
     -moz-transition: .4s;
     -ms-transition: .4s;
     -o-transition: .4s;
     flex-direction: column;
     align-content: center;
     justify-content: center;
}

.button:hover {
     transform: scale(1.2);
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -ms-transform: scale(1.2);
     -o-transform: scale(1.2);
     background-color: transparent;
     cursor: pointer;
     border: 2px solid #f9004d;
}

.service {
     background-color: #101010;
     width: 100%;
     padding: 100px 0;
}

.title h2 {
     color: white;
     font-size: 75px;
     width: 1000px;
     margin: 20px auto;
     text-align: center;
     font-weight: bold;
}

.box {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px;
     min-height: 400px;
}

.card {
     width: 33%;
     background: #191919;
     position: relative;
     border: 2px solid #fff;
     border-radius: 20px;
     height: 350px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     margin: 20px;
     overflow: hidden;
     text-align: center;
}

.card:hover {
     transform: scale(1.1);
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
     -o-transform: scale(1.1);
}

.card i {
     color: #f9004f;

     font-size: 45px;

     display: block;
     margin: 25px 0;
}

.card h5 {
     color: white;
     font-size: 25px;
     letter-spacing: 2px;
     margin-bottom: 25px;
     text-transform: capitalize;
     font-weight: bold;
}

.pra {
     color: white;
     font-size: 20px;
     line-height: 30px;
}

i {
     margin: 5px;
}

footer {
     position: relative;
     width: 100%;
     background-color: #161616;
     height: 400px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

footer p:nth-child(1) {
     color: white;
     font-size: 44px;
     font-weight: bold;
     margin-bottom: 10px;
}

footer p:nth-child(2) {
     color: white;
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 10px;
     width: 500px;

}

.social {
     display: flex;
}

.social a {
     width: 45px;
     height: 45px;
     display: flex;
     align-items: center;
     justify-content: center;
     background: #f9004f;
     border-radius: 50px;
     margin: 22px 10px;
     text-decoration: none;
     font-size: 20px;
     color: #fff;
}

.social a:hover {
     transform: scale(1.3);
     transition: .9s;
}

#end{

color: #f9004d;
bottom: 35px;
font-size: 14px;
}